body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Dark background color */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of viewport */
}

.logo {
    max-width: 80%; /* Adjust the size of the logo as needed */
    background-image: linear-gradient(to right, transparent 49.5%, rgba(255, 215, 0, 0.7) 50%, rgba(255, 215, 0, 0.7) 50.5%, transparent 51%);
    background-size: 200% 100%; /* Double the width of the background to cover both sides */
    background-position: -100% 0; /* Initial position of the background */
    animation: lightingEffect 5s ease-in-out infinite; /* Animation for the lighting effect */
}

@keyframes lightingEffect {
    0% {
        background-position: 28% 0; /* Starting position of the background */
    }
    50% {
        background-position: 75% 0; /* Middle position of the background */
    }
    100% {
        background-position: 28% 0; /* Ending position of the background */
    }
}
